<section class="read-books">
  <div class="container">
  <div class="row" *ngIf="!(isLoading$ | async )" >
      <app-book [dist]="'read-books'" *ngFor="let book of (readBooks$ | async | slice:startingIndex:endingIndex)" [book]="book" class="col-6" style="padding:0" ></app-book>
      <h1 style="color: rgba(255, 255, 255, .7)"  *ngIf="!(readBooks$ | async)[0] && !(isLoading$ | async)" >No Current Books</h1>

  </div>
  </div>

  <div *ngIf="(readBooks$ | async ) as books" class="read-books__navigate row justify-content-center " > 
    <div class="read-books__navigate-box row justify-space-evenly" *ngIf="books[0]" >
      <button (click)="firstPage(books)"  class="read-books__fast-rewind" title="First Page"> <mat-icon>navigate_before</mat-icon><mat-icon>navigate_before</mat-icon></button>
      <button (click)="previuosBooks(books)"  class="read-books__previuos" title="Previuos"> <mat-icon>navigate_before</mat-icon> </button>
      <span [@pageState] class="read-books__page" *ngFor="let page of getNumOfPages() | slice:theFirstPage:theLastPage" (click)="goToPage(page)"  [ngClass]="{'page-active':currentPage === page}"  > {{page}} </span>
      <button (click)="nextBooks(books)" class="read-books__next" title="Next" > <mat-icon>navigate_next</mat-icon> </button>
      <button (click)="lastPage(books)" class="read-books__fast-forward" title="Last Page" > <mat-icon>navigate_next</mat-icon><mat-icon>navigate_next</mat-icon> </button>
    </div>
  </div>
  <h2 *ngIf="isLoading$  | async" class="read-books__loading"   > Loading... </h2>

</section>