@import "../../../shared/variables";
@import "../../../shared/animations";


.currently-reading {
   padding: 2rem 0;
   min-height: 100vh;
   color: $color-white;
   position: relative;
   .row {
       margin: 0;
       justify-content: space-evenly;
   }


   &__navigate {
    padding: 2rem 0;
    margin: 1rem auto;
   
  }

  &__navigate-box {
    position: absolute;
    bottom: 0;
  }

  &__next, &__previuos, &__fast-rewind, &__fast-forward {
    .mat-icon{
      font-size: 2.9rem;
    }
    background: none;
    border: none;
    color: darken($color-dark, 10%);
    cursor: pointer;
    transition: all .4s;
    padding: 0;
    margin: 0 1rem;

    &:hover {
      color: $color-primary;
    }

    &:focus {
      outline: none;
    }
  }

  &__fast-rewind, &__fast-forward {
    .mat-icon {
      width: 1rem;
    }
  }

  &__fast-forward {
    margin-left: -.3rem;
  }




  &__page {
    color: $color-white;
    font-size: 1.5rem;
    display: block;
    margin: 1rem;
    margin-left: 1.4rem;
    transition: all .2s;
    cursor: pointer;
    text-shadow: .05rem .05rem .5rem transparent , -.05rem -.05rem .5rem transparent;


    &:hover {
      text-shadow: .05rem .05rem .5rem $color-white, -.05rem -.05rem .5rem $color-white;
      transform: scale(1.2);
    }
    
  }

  &__loading {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgba($color-white, .7);
    font-size: 4rem;
    animation: loading .5s ease-in-out infinite alternate;

  }


    
}

.page-active {
    text-shadow: .05rem .05rem .5rem $color-white, -.05rem -.05rem .5rem $color-white;
    transform: scale(1.2);
  }