@import "../../shared/variables";
@import "../../shared/animations";

.home {
  min-height: 100vh;
  background-color: $color-dark;
  padding-top: 3rem;
  position: relative;
  perspective: 100rem;
  .container {
    padding: 3rem;
  }

  &__navigate {
    padding: 2rem 0;
    margin: 1rem auto;
   
  }

  &__navigate-box {
    position: absolute;
    bottom: 3.5rem;
    
  }

  &__next, &__previuos, &__fast-rewind, &__fast-forward {
    .mat-icon{
      font-size: 2.9rem;
    }
    background: none;
    border: none;
    color: darken($color-dark, 10%);
    cursor: pointer;
    transition: all .4s;
    padding: 0;
    margin: 0 1rem;

    &:hover {
      color: $color-primary;
    }

    &:focus {
      outline: none;
    }
  }

  &__fast-rewind, &__fast-forward {
    .mat-icon {
      width: 1rem;
    }
  }

  &__fast-forward {
    margin-left: -.3rem;
  }




  &__page {
    color: $color-white;
    font-size: 1.5rem;
    display: block;
    margin: 1rem;
    margin-left: 1.4rem;
    transition: all .2s;
    cursor: pointer;
    text-shadow: .05rem .05rem .5rem transparent , -.05rem -.05rem .5rem transparent;


    &:hover {
      text-shadow: .05rem .05rem .5rem $color-white, -.05rem -.05rem .5rem $color-white;
      transform: scale(1.2);
    }
    
  }

  
  &__no-results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba($color-white, .7);
    font-size: 3rem;
  }


  
  &__loading {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgba($color-white, .7);
    font-size: 4rem;
    animation: loading .5s ease-in-out infinite alternate;

  }




}

.book {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 1rem 0;
  .card {
    width: 90%;
    cursor: pointer;
    height: 37rem;
    background-color: transparent;
    box-shadow: 0.5rem 0.5rem 1rem rgba(darken($color-dark, 70%), 0.5);

    &-img-top {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto;
    }

    &-body {
      position: absolute;
      top: 40%;
      left: 0;
      width: 100%;
      height: 60%;
      background-color: rgba($color-dark, 0.8);
      padding: 0.2rem;
      opacity: 0;
      transition: all 0.4s;
      transform: translateY(1rem);
    }

    &-title {
      color: $color-white;
      font-size: 2rem;
      font-weight: bold;
      margin: 1rem 0;
    }

    &-text {
      color: $color-white;
      font-size: 1.8rem;
      &--content {

        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__rating {
      display: flex;
      align-items: center;
      justify-content: center;
    
    }

  
    &__star {
      color: $color-gold;
      display: inline-block;

    }

    &__star-container {
      overflow: hidden;
      display: inline-block;
      color: $color-gold;
    }

    &__btn {
      color: $color-white;
      background-color: $color-secondary;
      border-radius: 0.5rem;
      font-size: 1.8rem;
      margin-top: .5rem;
      &:hover {
        background-color: darken($color-secondary, 5%);
      }
      &:focus,
      &:active {
        outline: none;
      }
    }

    &:hover .card-body {
      opacity: 1;
      transform: translateY(0);
    }
  }




}


.page-active {
  text-shadow: .05rem .05rem .5rem $color-white, -.05rem -.05rem .5rem $color-white;
  transform: scale(1.2);
}