@keyframes hover-item {
  0% {
    width: 0;
    height: 0.2rem;
  }

  50% {
    width: 100%;
    height: 0.2rem;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
