<section class="quotes">
  <div class="container">
    <h1 class="quotes__heading">Authors Quotes</h1>
    <div *ngIf="(quotes$ | async).length" [@quoteState]>
      <div
        class="quotes__box"
        *ngFor="
          let quote of (quotes$
            | async
            | filter: searchValue
            | slice: startingIndex:endingIndex)
        "
      >
        <p class="quotes__content">
          <q>{{
            quote.quote
              .replace("“", "")
              .replace("”", "")
              .replace('"', "")
          }}</q>
        </p>
        <strong
          class="quotes__name"
          routerLink="/content/authors/{{ quote.name }}"
          >{{ quote.name }}</strong
        >
        <div class="quotes__like-fave">
          <div
            class="quotes__fav"
            #fav
            (click)="favQuote(quote, fav)"
            id="quote-{{ quote.id }}"
            [style.color]="checkFavQuotesOnInit(quote)"
          >
            <mat-icon title="Add to My Quotes">star</mat-icon>
          </div>
          <div
            class="quotes__like"
            #like
            id="div-{{ quote.id }}"
            [style.color]="checkQuote(quote)"
            (click)="likeQuote(quote, like)"
          >
            <mat-icon title="I like it">thumb_up_alt</mat-icon
            ><span class="quotes__like-num">{{
              quote.likes?.length || 0
            }}</span>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="(quotes$ | async) as quotes"
      class="quotes__navigate row justify-content-center "
    >
      <div
        class="quotes__navigate-box row justify-space-evenly"
        *ngIf="quotes[0] && showPagination"
      >
        <button
          (click)="firstPage(quotes)"
          class="quotes__fast-rewind"
          title="First Page"
        >
          <mat-icon>navigate_before</mat-icon
          ><mat-icon>navigate_before</mat-icon>
        </button>
        <button
          (click)="previuosQuotes(quotes)"
          class="quotes__previuos"
          title="Previuos"
        >
          <mat-icon>navigate_before</mat-icon>
        </button>
        <span
          [@pageState]
          class="quotes__page"
          *ngFor="
            let page of (getNumOfPages() | slice: theFirstPage:theLastPage)
          "
          (click)="goToPage(page)"
          [ngClass]="{ 'page-active': currentPage === page }"
        >
          {{ page }}
        </span>
        <button (click)="nextQuotes(quotes)" class="quotes__next" title="Next">
          <mat-icon>navigate_next</mat-icon>
        </button>
        <button
          (click)="lastPage(quotes)"
          class="quotes__fast-forward"
          title="Last Page"
        >
          <mat-icon>navigate_next</mat-icon><mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <h2
    *ngIf="searchValue && !(quotes$ | async | filter: searchValue).length"
    class="quotes__no-results"
  >
    No Results
  </h2>
  <h2 *ngIf="(isLoading$ | async)" class="quotes__loading">Loading...</h2>
</section>
