@import "../../shared/variables";
@import "../../shared/animations";

.quotes {
    background-color: $color-dark;
    min-height: 120vh;
    padding-top : 5.5rem;
    position: relative;

    &__heading {
        color: $color-white;
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    
    &__box {
        color: $color-white;
        background-color: darken($color-dark, 5%);
        padding: 1rem 2rem;
        margin-top: 1rem;
        position: relative;
    }
    &__content {
        font-size: 2rem;
        line-height: 1.5;
    }

    &__name {
        cursor: pointer;
        font-size: 1.7rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__like-fave {
        position: absolute;
        right: 2rem;
        bottom: 1rem;
        color: darken($color-dark, 10%);

    }

    &__like, &__fav {
        cursor: pointer;
        transition: all .2s;
    }

    &__fav {
        color: darken($color-dark, 10%);
    }

    &__like {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__like-num {
        font-size: 1.7rem;
        display: inline-block;
        padding-left: .5rem;
        color: $color-white;
        width: 2rem;
    }


    
  &__navigate {
    padding: 4rem 0;
    margin: 0rem auto;
   
  }

  &__navigate-box {
    position: absolute;
    bottom: 1rem;
    margin: 0;
    
  }

  &__next, &__previuos, &__fast-rewind, &__fast-forward {
    .mat-icon{
      font-size: 2.9rem;
    }
    background: none;
    border: none;
    color: darken($color-dark, 10%);
    cursor: pointer;
    transition: all .4s;
    padding: 0;
    margin: 0 1rem;

    &:hover {
      color: $color-primary;
    }

    &:focus {
      outline: none;
    }
  }

  &__fast-rewind, &__fast-forward {
    .mat-icon {
      width: 1rem;
    }
  }

  &__fast-forward {
    margin-left: -.3rem;
  }




  &__page {
    color: $color-white;
    font-size: 1.5rem;
    display: block;
    margin: 1rem;
    margin-left: 1.4rem;
    transition: all .2s;
    cursor: pointer;
    text-shadow: .05rem .05rem .5rem transparent , -.05rem -.05rem .5rem transparent;


    &:hover {
      text-shadow: .05rem .05rem .5rem $color-white, -.05rem -.05rem .5rem $color-white;
      transform: scale(1.2);
    }
    
  }

  &__no-results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba($color-white, .7);
    font-size: 3rem;
  }

  &__loading {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgba($color-white, .7);
    font-size: 4rem;
    animation: loading .5s ease-in-out infinite alternate;


  }

}


.page-active {
    text-shadow: .05rem .05rem .5rem $color-white, -.05rem -.05rem .5rem $color-white;
    transform: scale(1.2);
  }