@import "../../shared/variables";
@import "../../shared/utilities";
.header {
  .container {
    justify-content: flex-start;
    position: relative;
  }

  
  
  &__logo {
    color: $color-white;
    font-weight: bold;
    font-size: 2.5rem;
    border-right: 0.1rem solid $color-white;
    padding: 0 2rem;
  }
  &__nav {
    background-color: $color-primary;
    color: $color-white;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 999999;
  }

  &__item {
    font-size: 1.8rem;
    margin: 0 1rem;
    position: relative;
    padding: 1rem !important;
    z-index: 2;
    color: $color-white !important;
    cursor: pointer;
    &:last-of-type {
      display: flex;
      align-items: center;
    }
    &::after {
      content: "";
      width: 100%;
      height: 0.2rem;
      transform: scaleX(0);
      position: absolute;
      left: 0;
      top: 0;
      background-color: $color-dark;
      transition: transform 0.2s ease, height 0.2s ease 0.2s;
      transform-origin: center;
      display: block;
      z-index: -1;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        height: 100%;
      }
    }
  }

  &__search {
    width: 35rem;
    background-color: darken($color-primary, 20%);
    border: none;
    border-radius: 1.5rem;
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    display: flex;
    transition: all 0.4s;
    color: $color-white;

    &:focus {
      outline: none;
      background-color: darken($color-primary, 15%);
    }

    &::placeholder {
      color: rgba($color-white, 0.8);
      font-size: 1.5rem;
    }
  }

  &__search-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__search-icon {
    position: absolute;
    right: 2%;
    color: rgba($color-white, 0.7);
  }

  &__account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    font-size: 1.6rem;
    width: auto;
  }

  &__signin-btn,
  &__creat-btn {
    color: $color-white;
    background-color: $color-dark;
    border-radius: 0.7rem;
    font-size: 1.5rem;
    margin: 0 0.7rem;

    &:hover {
      background-color: lighten($color-dark, 5%);
    }
  }

  &__signin-btn {
    background-color: darken($color-secondary, 10%);
    &:hover {
      background-color: darken($color-secondary, 15%);
    }
  }

  &__user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1rem;
  
  }

  &__icon {
    margin: 0 0.5rem;
    background-color: $color-dark;
    padding: 0.2rem 0.5rem 0;
    border-radius: 0.8rem;
    color: $color-white;
    background-color: darken($color-primary, 20%);
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background-color: $color-dark;
    }
  }



  &__community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__com-dropdown {
    position: absolute;
    top: 4.6rem;
    background-color: $color-secondary;
    transform: translateX(.8rem);
    display: none;
    z-index: 9999;
  }

  &__com-list {
    font-size: 1.8rem;
    list-style: none;
    line-height: 2;
    margin: 0;
    padding: 0;
  }

  &__com-item {
    padding: 0.5rem 3rem;
    transition: all 0.4s;
    display: block;
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: lighten($color-dark, 10%);
    }
  }

  &__mail-box,
  &__notification-box {
    position: absolute;
    top: 4.6rem;
    transform: translateX(-80%);
    background-color: $color-secondary;
    padding: 1rem;
    font-size: 1.6rem;
    display: none;
    z-index: 2000;
  }

  .profile-box {
    position: absolute;
    display: none;
    top: 4.6rem;
    background-color: $color-secondary;
    font-size: 1.7rem;
    z-index: 2000;
    width: 20rem;

    &__heading {
      margin-bottom: 0.5rem;
      padding: 1rem 2rem;
      font-size: 2rem;
      text-align: center;
      background-color: lighten($color-dark, 10%);

    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;

      &-item {
        margin: 0.5rem 0;
        transition: all 0.4s;
        cursor: pointer;
        display: block;
        padding: 0.4rem;
        &:hover {
          background-color: lighten($color-dark, 10%);
        }
      }
    }
  }
}

mat-icon {
  color: $color-white;
}
