<section class="book-details">
  <div class="container">
    <div class="row">
      <img
        [src]="(selectedBook$ | async).img"
        [alt]="(selectedBook$ | async).bookName"
        class="col-3 book-details__img"
      />
      <article class="col-9">
        <h2 class="book-details__book-name">
          {{ (selectedBook$ | async).bookName }}
        </h2>
        <p class="book-details__author-name">
          by: <strong>{{ (selectedBook$ | async).authorName }}</strong>
        </p>
        <p class="book-details__par">{{ (selectedBook$ | async).brief }}</p>

        <div class="book-details__rating">
          <div class="book-details__star" *ngFor="let star of creatDummyArray((selectedBook$ | async).avgRating).starArr">
            <mat-icon>star</mat-icon>
          </div>
          <div
            [style.width]="creatDummyArray((selectedBook$ | async).avgRating).i * 24 + 'px'"
            class="book-details__star"
            *ngIf="creatDummyArray((selectedBook$ | async).avgRating).i < 1"
          >
            <mat-icon>star</mat-icon>
          </div>
          <div class="book-details__rating-value">
            <p> {{ (selectedBook$ | async).avgRating }} </p>
          </div>
          <div class="book-details__rating-num">
            <p>{{ ratingLength | async }} ratings</p>
          </div>
        </div>

        <div class="book-details__reading">
          <button class=" book-details__read">
            Read <mat-icon>done</mat-icon>
          </button>
          <button class=" book-details__current">
            Currently Reading <mat-icon>local_cafe</mat-icon>
          </button>
          <button class=" book-details__want">
            Want To Read <mat-icon>add</mat-icon>
          </button>
        </div>
      </article>
    </div>
    <div class="row">
      <div class="book-details__rate col-3 text-center">
        <span *ngIf="titleCondition | async" > You rated this Book </span>
        <span *ngIf="!(titleCondition | async)" > Rate this Book </span>
        <app-stars-review></app-stars-review>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <app-reviews></app-reviews>
      </div>
      <div class="col-4">
        <app-author></app-author>
      </div>
    </div>
  </div>
</section>
