@import "../../shared/variables";
@import "../../shared/animations";
@import "../../shared/mixins";

.book-details {
  min-height: 110vh;
  background-color: $color-dark;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  perspective: 100rem;
  -moz-perspective: 100rem;

  &__article {
    position: static;
    @include responsive(max, 600px) {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      padding: 0 1rem;
    }
  }

  &__img-box {
    @include responsive(max, 600px) {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;
      padding-top: 9rem;
    }
  }

  .row {
    margin: 0;
  }
  .mat-icon {
    @include resp-mat-icons();
  }
  .container {
    padding: 2rem;
    position: relative;

    @include responsive(max, 768px) {
      padding: 0;
      padding-top: 3rem;
    }
  }
  &__img {
    height: 39rem !important;
    width: 26rem !important;

    @include responsive(max, 768px) {
      height: 33rem !important;
      width: 20rem !important;
    }

    @include responsive(max, 600px) {
      height: 49rem !important;
      width: 36rem !important;
      margin-right: -0.5rem;
    }
  }
  &__book-name {
    color: $color-white;
    font-size: 2.9rem;

    @include responsive(max, 600px) {
      position: absolute;
      top: 3rem;
      left: 50%;
      transform: translateX(-50%);
    }

    @include responsive(max, 400px) {
      font-size: 2.4rem;
    }
  }

  &__author-name {
    @include responsive(max, 600px) {
      position: absolute;
      top: 7rem;
      left: 50%;
      transform: translateX(-50%);
    }

    @include responsive(max, 400px) {
      font-size: 2rem;
    }
    color: $color-white;
    font-size: 2.4rem;
    &--content {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__par {
    color: $color-white;
    font-size: 1.8rem;
    line-height: 1.5;
    text-overflow: clip;
    overflow: hidden;

    @include responsive(max, 600px) {
      font-size: 2.2rem;
    }
  }

  &__rating {
    color: $color-white;
    font-size: 1.9rem;
    display: flex;
    align-items: center;

    &-value {
      margin: 0.5rem 1rem 0;
    }

    &-num {
      margin-left: 1rem;
      font-size: 1.2rem;
      margin-top: 0.5rem;
      display: inline-block;

      @include responsive(max, 600px) {
        margin-bottom: 0;
        padding-top: 1rem;
      }
    }

    @include responsive(max, 600px) {
      justify-content: center;
      position: relative;
    }
  }

  &__genres {
    margin: 1rem 0;
    border-top: 0.1rem solid darken($color-dark, 2%);
    padding: 1rem 0;
    list-style: none;

    &-caption {
      font-size: 1.7rem;
      font-weight: bold;
      color: $color-white;
    }
  }

  &__genre {
    color: $color-white;
    font-size: 1.8rem;
    margin-right: 0.9rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
    &:not(:last-of-type) {
      &::after {
        content: ",  ";
        position: absolute;
      }
    }
  }

  &__star {
    font-size: 2.4rem;
    margin: 0.2rem;
    color: $color-gold;
    overflow: hidden;
  }

  &__reading {
    display: flex;

    @include responsive(max, 600px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__read,
  &__current,
  &__want {
    mat-icon {
      margin-left: 0.5rem;
      display: block;
    }
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    overflow: hidden;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    color: $color-white;
    margin: 0.5rem;
    border: none;
    transition: $trans-4s;
    cursor: pointer;
    &:focus,
    &:active {
      outline: none;
    }
  }

  &__current {
    background-color: $color-primary;
    &:hover {
      background-color: darken($color-primary, 5%);
    }
  }

  &__read {
    background-color: $color-read;
    &:hover {
      background-color: darken($color-read, 5%);
    }
  }
  &__want {
    background-color: $color-want;
    &:hover {
      background-color: darken($color-want, 5%);
    }
  }

  &__reading-title {
    color: $color-white;
    font-size: 1.9rem;
    span {
      color: darken($color-white, 5%);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__rate {
    color: $color-white;
    font-size: 1.7rem;
    margin: 0.4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include responsive(max, 768px) {
      width: 20rem;
    }

    @include responsive-and(769px, 992px) {
      width: 25rem;
    }
  }

  &__rating-def {
    padding: 0.2rem;
    z-index: -1;
    color: darken($color-dark, 10%);
  }

  &__rating-def-box {
    display: flex;
    justify-content: space-between;
  }

  &__rating-box {
    position: absolute;
    display: flex;

    @include responsive(max, 600px) {
      width: 85.06px;
      left: 50%;
      top: 50%;
      transform: translate(-87.7%, -50%);
    }
  }

  &__loading {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgba($color-white, 0.7);
    font-size: 4rem;
    animation: loading 0.5s ease-in-out infinite alternate;
    -moz-animation: loading 0.5s ease-in-out infinite alternate;
  }

  &__remove {
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: none;
    border: none;
    color: darken($color-dark, 10%);
    transition: $trans-4s;
    &:hover {
      color: $color-primary;
    }
    cursor: pointer;
  }

  &__reviews {
    @include responsive(max, 600px) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include responsive(max, 550px) {
      flex: 0 0 96%;
      max-width: 96%;
      margin: 0 1rem;
    }
  }
}
