@import "../../shared/variables";
@import "../../shared/animations";

.book-details {
  min-height: 110vh;
  background-color: $color-dark;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  perspective: 100rem;
  .container {
    padding: 2rem;
  }
  &__img {
    height: 39rem !important;
    width: 26rem !important;
  }
  &__book-name {
    color: $color-white;
    font-size: 2.9rem;
  }

  &__author-name {
    color: $color-white;
    font-size: 2.4rem;
    &--content {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  
  }

  &__par {
    color: $color-white;
    font-size: 1.8rem;
    line-height: 1.5;
    text-overflow: clip;
    overflow: hidden;
  }

  &__rating {
    color: $color-white;
    font-size: 1.9rem;
    display: flex;
    align-items: center;

    &-value {
      margin: .5rem 1rem 0;
    }

    &-num {
      margin-left: 1rem;
      font-size: 1.2rem;
      margin-top: .5rem;
      display: inline-block;
    }
  }

  &__genres {
    margin: 1rem 0;
    border-top: .1rem solid darken($color-dark, 2%);
    padding: 1rem 0;
    list-style: none;

    &-caption {
      font-size: 1.7rem;
      font-weight: bold;
      color: $color-white;
    }
  }



  &__genre {
    color: $color-white;
    font-size: 1.8rem;
    margin-right: .9rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
    &:not(:last-of-type) {
      &::after {
        content: ',  ';
        position: absolute;
      }
    }
  }

  &__star {
    font-size: 2.4rem;
    margin: 0.2rem;
    color: $color-gold;
    overflow: hidden;
  }

  &__reading {
    display: flex;
  }

  &__read,
  &__current,
  &__want {
    mat-icon {
      margin-left: 0.5rem;
      display: block;
    }
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    overflow: hidden;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    color: $color-white;
    margin: 0.5rem;
    border: none;
    transition: all 0.4s;
    cursor: pointer;
    &:focus,
    &:active {
      outline: none;
    }
  }

  &__current {
    background-color: $color-primary;
    &:hover {
      background-color: darken($color-primary, 5%);
    }
  }

  &__read {
    background-color: $color-read;
    &:hover {
      background-color: darken($color-read, 5%);
    }
  }
  &__want {
    background-color: $color-want;
    &:hover {
      background-color: darken($color-want, 5%);
    }
  }

  &__reading-title {
    color: $color-white;
    font-size: 1.9rem;
    span {
      color: darken($color-white, 5%);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__rate {
    color: $color-white;
    font-size: 1.7rem;
    margin: 0.4rem 0;
  }


  &__rating-def {
    padding: .2rem;
    z-index: -1;
    color: darken($color-dark, 10%);
  }
  
  &__rating-def-box {
    display: flex;
    justify-content: space-between;

  }


  &__rating-box {
    position: absolute;
    display: flex;
    
  }

    
  &__loading {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgba($color-white, .7);
    font-size: 4rem;
    animation: loading .5s ease-in-out infinite alternate;

  }
}

