@import "../../shared/variables";
@import "../../shared/mixins";

.signup {
  height: 100vh;
  background-image: linear-gradient(
    90deg,
    $color-primary 0%,
    $color-primary 50%,
    $color-dark 50%,
    $color-dark 100%
  );
  background-size: cover;
  padding-left: 50%;
  padding-top: 15rem;
  perspective: 100rem;

  .mat-icon {
    @include resp-mat-icons();
  }

  @include responsive(max, 517px) {
    background-image: none;
    background-color: $color-dark;
    padding-left: 0;
  }
  &__papers {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6.5rem;
    font-family: "Kalam", cursive;
    color: $color-white;
  }

  &__container {
    padding: 7rem;
    border-radius: 1rem;
  }

  &__heading {
    color: $color-white;
    font-size: 3.8rem;
    margin-bottom: 4rem;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    label {
      color: $color-white;
      display: inline-block;
      padding: 1.1rem 0;
      font-size: 1.6rem;
    }
  }

  &__agree {
    display: none;
    &:checked {
      & + label {
        &::before {
          background-color: $color-primary;
        }
      }
    }
  }

  &__agree-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0.4rem;
    label {
      width: 2.5rem;
      height: 1rem;
      border: solid 0.1rem $color-primary;
      display: inline-block;
      margin: 0 1rem;
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        width: 1.8rem;
        height: 1.8rem;
        background-color: $color-primary;
        display: block;
        position: absolute;
        top: 11%;
        left: 12.5%;
        background-color: rgba($color-dark, 0.8);
        transition: $trans-2s;
      }
    }
    span {
      color: $color-white;
      font-size: 1.6rem;
    }
  }

  &__email,
  &__password,
  &__firstName,
  &__lastName {
    width: 35rem;
    background-color: $color-white;
    margin: 1rem 0;
    border-radius: 1.5rem;
    border: none;
    padding: 0.5rem;
    padding-left: 2rem;
    transition: $trans-4s;
    font-size: 1.5rem;
    color: $color-dark;
    border: solid 0.1rem transparent;

    &::placeholder {
      color: $color-dark;
    }
    &:focus {
      border: solid 0.1rem $color-secondary;
      outline: none;
    }
  }

  &__gender {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__gender-title {
    color: $color-white;
    font-size: 1.8rem;
    display: block;
    text-align: center;
  }

  &__male,
  &__female {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
  }

  &__male-radio,
  &__female-radio {
    width: 2rem;
    height: 2rem;
    background-color: $color-primary;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.5rem;
    border: 0.2rem solid transparent;
    transition: $trans-4s;
    cursor: pointer;
  }

  &__submit {
    background-color: $color-primary;
    border-radius: 1rem;
    padding: 0.7rem 1.2rem;
    color: $color-white;
    font-size: 1.7rem;
    display: block;
    margin: 2rem auto;
    transition: $trans-4s;
  }

  &__error {
    color: $color-primary;
    font-size: 1.4rem;
  }

  &__account {
    display: flex;
  }

  &__guest {
    position: absolute;
    bottom: 10.01rem;
    left: 50%;
    transform: translateX(-50%);

    @include responsive(max, 517px) {
      bottom: 1rem;
    }

    &-btn {
      background: none;
      border: 0.2rem solid $color-white;
      font-size: 2.2rem;
      padding: 1rem 2rem;
      color: $color-white;
      border-radius: 1rem;
      cursor: pointer;
      transition: $trans-4s;

      &:hover {
        background-color: $color-white;
        color: $color-dark;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__pass-box {
    position: relative;
  }

  &__vis {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: $color-dark;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

input.ng-invalid.ng-touched {
  background-color: lighten(red, 35%);
}

.radio-active {
  border: 0.2rem solid $color-white;
}
