<section class="signup">
    <div class="container">
      <div class="signup__container">
        <form class="form-froup signup__form" #f="ngForm" (ngSubmit)="onSubmit(f)" >
              <input id="email" type="text" name="email" class="signup__email " required email placeholder="Your Email" ngModel >  
              <input id="password" type="password" name="password" class="signup__password " required placeholder="Password" ngModel minlength="6" >
              <input id="username" type="text" name="username" class="signup__username " required placeholder="Username" ngModel >
          <div class="signup__agree-cont">
              
              <input id="agree"  type="checkbox" name="agree" class="signup__agree " required ngModel >
              <label for="agree"></label>
              <span>Agree to terms and conditions</span>
          </div>
          <button type="submit" class="btn signup__submit" [disabled]="f.invalid" >Signup</button>
        </form>
      </div>
    </div>
  </section>