<section class="signup">
  <h1 class="signup__papers">PAPERS</h1>
      <div class="signup__container" [@formState] >
        <h2 class="signup__heading text-center">Create your account</h2>
        <form class="form-froup signup__form" #f="ngForm" (ngSubmit)="onSubmit(f, maleRadio, femaleRadio)" autocomplete="off" >
              <input id="email" type="text" name="email" class="signup__email " required email placeholder="Your Email" ngModel  >  
              <input id="firstName" type="text" name="firstName" class="signup__firstName" required  placeholder="First Name" ngModel >  
              <input id="lastName" type="text" name="lastName" class="signup__lastName " required placeholder="Last Name" ngModel >  
              <div class="signup__pass-box" >
                  <input id="password" [type]="inputType" name="password" class="signup__password " required placeholder="Password" ngModel minlength="6" ><button type="button" (click)="toggleInput()" class="signup__vis" ><mat-icon>visibility</mat-icon></button>
                </div>
              <span class="signup__gender-title">Gender</span>
              <div class="signup__gender">
                <div class="signup__male">
                  <span class="signup__male-radio" (click)="onSelectMale(male, maleRadio, femaleRadio)" #maleRadio > </span>
                  <input required type="radio" #male id="male" name="gender" [value]="'male'" ngModel  style="display: none;" >
                  <label for="male">Male</label>
                </div>

                <div class="signup__female">
                  <span class="signup__female-radio" (click)="onSelectFemale(female, maleRadio, femaleRadio)"  #femaleRadio > </span>
                  <input required #female type="radio" id="female" name="gender" [value]="'female'" ngModel  style="display: none;" >
                  <label for="female">Female</label>
                </div>

              </div>

          <div class="signup__agree-cont">
              <input id="agree"  type="checkbox" name="agree" class="signup__agree " required ngModel >
              <label for="agree"></label>
              <span>Agree to terms and conditions</span>
          </div>
          <button type="submit" class="btn signup__submit" [disabled]="f.invalid" >Signup</button>
        </form>
      </div>
      <div class="signup__guest">
          <button class="signup__guest-btn" (click)="goGuest()" >Enter As A Guest</button>
        </div>
  </section>