@import "../../shared/variables";
@import "../../shared/animations";

.authors {
    padding: 5rem 0;
    background-color: $color-dark;
    min-height: 120vh;
    position: relative;
    perspective: 100rem;

    
  &__navigate {
    padding: 2rem 0;
    margin: 1rem auto;
   
  }

  &__navigate-box {
    position: absolute;
    bottom: 3.5rem;
    
  }

  &__next, &__previuos, &__fast-rewind, &__fast-forward {
    .mat-icon{
      font-size: 2.9rem;
    }
    background: none;
    border: none;
    color: darken($color-dark, 10%);
    cursor: pointer;
    transition: all .4s;
    padding: 0;
    margin: 0 1rem;

    &:hover {
      color: $color-primary;
    }

    &:focus {
      outline: none;
    }
  }

  &__fast-rewind, &__fast-forward {
    .mat-icon {
      width: 1rem;
    }
  }

  &__fast-forward {
    margin-left: -.3rem;
  }




  &__page {
    color: $color-white;
    font-size: 1.5rem;
    display: block;
    margin: 1rem;
    margin-left: 1.4rem;
    transition: all .2s;
    cursor: pointer;
    text-shadow: .05rem .05rem .5rem transparent , -.05rem -.05rem .5rem transparent;


    &:hover {
      text-shadow: .05rem .05rem .5rem $color-white, -.05rem -.05rem .5rem $color-white;
      transform: scale(1.2);
    }
    
  }

  &__no-results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba($color-white, .7);
    font-size: 3rem;
  }

  &__loading {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgba($color-white, .7);
    font-size: 4rem;
    animation: loading .5s ease-in-out infinite alternate;


  }
    
}

.author {
    margin-bottom: 1rem;
    display: flex;
    background-color: darken($color-dark, 5%);
    padding: 0 ;
    position: relative;
    margin: 1.5rem;
    

    &__img {
        width: 20rem !important;
        height: 25rem !important;
        cursor: pointer;
        
    }


    
    &__info {
        padding: .5rem 2rem;
        width: 100%;
        color: $color-white;
        flex: 1;

    }

    &__name {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
        cursor: pointer;
         &:hover {
             text-decoration: underline;
         }

    }

    &__born {
        font-size: 1.5rem;
        margin-bottom: 1rem;

    }

    &__genre {
        font-size: 1.5rem;

        &:not(:last-of-type) {
            &::after {
                content: ","
            }
        }
    }

    
    &__rating {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

      
      }
  
    
      &__star {
        color: $color-gold;
        display: inline-block;
  
      }
  
      &__star-container {
        overflow: hidden;
        display: inline-block;
        color: $color-gold;
      }

      &__popular {
          font-size: 1.6rem;
          &-book {
            font-size: 1.6rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
          }
          
        }

      &__your-rate, &__not-rated {
          color: $color-white;
          font-size: 1.6rem;
      }

      &__not-rated {
          font-size: 1.8rem;
          margin-top: 1rem;
      }

    &__remove {
        position: absolute; 
        top: .5rem;
        right: .5rem;
        color: darken($color-dark, 10%);
        transition: all .4s;
        cursor: pointer;
        &:hover {
            color: $color-primary;
        }
    }
}



.page-active {
    text-shadow: .05rem .05rem .5rem $color-white, -.05rem -.05rem .5rem $color-white;
    transform: scale(1.2);
  }