<section class="home">
  <div class="container">
    <h1 class="home__heading">
      Welcome to Papers...<br />
      the most popular books rating app!
    </h1>
    <article class="home__article">
      <p class="home__par">
        In this site...you can rate books, choose your favourite book, write
        your own reviews and more....
      </p>
    </article>
    <article class="home__log ">
      <p class="home__logpar">
        You can
        <button class="btn btn--login " routerLink="/login">Login</button> Or
        <button class="btn btn--signup" routerLink="/signup">Signup</button> To
        have a lot of features as a user... <br />
        Or you can go ahead
        <button
          class="btn btn--guest "
          routerLink="/content"
          (click)="onNivaigate()"
        >
          As A Guest
        </button>
      </p>
    </article>
  </div>
</section>
