@import "../shared/variables";

.welcome {
  background-image: linear-gradient(
    15deg,
    $color-primary 0%,
    $color-primary 30%,
    $color-dark 30%,
    $color-dark 80%,
    $color-primary 80%,
    $color-primary 100%
  );
  height: 100vh;
  background-size: cover;
  padding: 2rem;
  padding-top: 28rem;

  &__heading {
    color: $color-white;
    font-size: 9rem;
    margin: 1rem;
    font-family: "Kalam", cursive;
    font-weight: bold;
  }

  &__par {
    color: $color-white;
    font-size: 4.5rem;
    margin-left: 1rem;
  }

  &__start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  &__start-btn {
    background-color: $color-primary;
    padding: 1rem 2rem;
    font-size: 2.1rem;
    border: none;
    cursor: pointer;
    color: $color-white;
    border-radius: 1rem;
    transition: all 0.4s;

    &:hover {
      background-color: darken($color-primary, 5%);
      span {
        margin-left: 1rem;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__arrow {
    transition: all 0.4s;
    margin-left: 0.2rem;
  }
}
