<section class="reviewes">
  <div class="reviewes__container row">

    <form class="reviewes__form" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <textarea
        (blur)="onBlur()"
        #reviewContent
        class="reviewes__content"
        name="review"
        id="review"
        cols="100"
        rows="3"
        placeholder="What Do You Think About This Book?"
        ngModel
      ></textarea>
      <div class="reviewes__btns row">
        <button type="submit" class=" reviewes__submit">Post</button>
        <button type="button" class=" reviewes__cancel" (click)="onCancel(f)">
          Cancel
        </button>
      </div>
    </form>
  </div>



  <div class="people-reviewes" *ngFor="let user of (reviews | async)">
    <div class="people-reviewes__heading row">
    
      <h4 class="people-reviewes__username">{{ user.name }}</h4>
      <span class="people-reviewes__rated"> Rated it </span>
      <div class="people-reviewes__stars">
        <mat-icon *ngFor="let star of creatStars(user.value).starArr"
          >star</mat-icon
        >
        <div
          class="people-reviewes__star-container"
          *ngIf="creatStars(user.value).i < 1 && creatStars(user.value).i > 0"
          [style.width]="creatStars(user.value).i * 24 + 'px'"
        >
          <mat-icon>star</mat-icon>
        </div>
      </div>
    </div>
    <span class="people-reviewes__andsaid">And said: </span>
    <p class="people-reviewes__content">{{ user.review }}</p>

    <div class="people-reviewes__btns">
      <button
        class="people-reviewes__like"
        (click)="onLike(user.ID, user.likes)"
      >
        <span
          #likeBtn
          class="show-btn"
          id="btn-{{ user.ID }}"
          attr.isClicked="false"
          > {{ getLikeOrUnlikeTitle(user.likes, likeBtn) || 'Like' }} </span
        ><span class="people-reviewes__like--number">
          {{ user.likes?.length || 0 }}
        </span>
      </button>
      <button
        class="people-reviewes__comment"
        (click)="toggleCommentBox(commentBox)"
      >
      Comment <span class="people-reviewes__comment--number">{{user.comments?.length || 0 }}</span> 
      </button>
    </div>
    <div class="people-reviewes__comment-box" #commentBox style="display: none">
      <a class="people-reviewes__comment-box--view" (click)="onToggleComments(commentsContent)">View all comments</a>
      <div class="people-reviewes__written-comments-box" #commentsContent style='display: none' >
        <div
        class="people-reviewes__comments-content"
        *ngFor="let comment of user.comments"
      > 
        <h4 class="people-reviewes__comments-heading">
        {{ comment.name }} :
        </h4>
        <p>
          {{ comment.comment }}
        </p>
      </div>
      </div>
    
      <form
        class="people-reviewes__comment-form"
        #c="ngForm"
        (ngSubmit)="onSubmitComment(c, user.ID, user.comments, commentBox, user.name)"
      >
        <textarea
          name="comment"
          id="comment"
          cols="60"
          rows="2"
          class="people-reviewes__comment--content"
          ngModel
        ></textarea>
        <button type="submit" class="people-reviewes__comment-btn">
          comment
        </button>
      </form>
    </div>
  </div>
</section>
