<section class="navigate">
    <div class="container" [@navigateState] >  
      <h1 class="text-center navigate__heading" >Admin's Page</h1>
      <ul class="row justify-content-center navigate__list "  >
        <li class="col-5 text-center navigate__add-books" routerLink="add-book" >
          
          <h2 class="navigate__add-heading">Add Book</h2>
          <mat-icon>add</mat-icon>
        
        </li>
        <li class="col-5 text-center navigate__add-quotes " routerLink="add-quote" >
            <h2 class="navigate__add-heading" >Add Quote</h2>
            <mat-icon>add</mat-icon>
        </li>
        <li class="col-5 text-center navigate__add-author" routerLink="add-author" >
          
          <h2 class="navigate__add-heading">Add Author</h2>
          <mat-icon>add</mat-icon>
        
        </li>
       <li class="col-5 text-center navigate__users " routerLink="users"  >
  
            <h2 class="navigate__add-heading" >Users</h2>
            <mat-icon>settings</mat-icon>
          
       </li>
      </ul>
  
  
    </div>
  </section>