/* You can add global styles to this file, and also import other style files */

html {
    font-size: 62.5%;

    @media only screen and (max-width : 1200px) {
        font-size: 50%;
    }

    @media only screen and (max-width : 992px) {
        font-size: 38%;
    }
}

body, html {
    font-family: 'Thasadith', sans-serif ;
}

